h1 {
    font-style: normal;
    line-height: 64px;
    /* 116.667% */
    letter-spacing: 1.5px;
    margin: auto;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    padding: 80px 20px 20px 20px;
    max-width: 90%;
    margin: 80px;
}

.heading-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 800px;
}

.heading-text h1 {
    color: white;
    font-size: 64px;
    font-family: 'Clash Display';
    font-weight: 600;
    word-wrap: break-word;
}

.heading-text p {
    color: white;
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.14px;
    word-wrap: break-word;
}

.heading-background {
    background-image: url('src/assets/background_page.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 60 vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



.profile-img {
    border-radius: 50%;
    width: 250px;
    height: auto;
    object-fit: cover;
}

.h4-heading {
    max-width: 600px
}

/* 🔹 Responsividade */
@media (max-width: 1024px) {
    .heading-container {
        flex-direction: row;
        /* Mantém lado a lado até 1024px */
    }

    .heading-text h1 {
        font-size: 48px;
    }

    .profile-img {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .heading-container {
        flex-direction: column;
        /* Em telas menores, coloca a imagem abaixo */
        align-items: center;
        text-align: center;
    }

    .heading-text {
        align-items: center;
        max-width: 100%;
    }

    .heading-text h1 {
        font-size: 36px;
    }

    .heading-text p {
        font-size: 12px;
    }

    .profile-img {
        width: 150px;
    }
}