.h4-title-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 1200px;
    margin: auto;
    font-family: 'Clash Display';
    font-size: 34px;
    color: #FFFFFF;
}

.h4-subtitle-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    max-width: 1200px;
    margin: auto;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 200;
    color: #FFFFFF;
}

.global-contact {
    gap: 24px;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px;
    background-image: url(portfolio/src/assets/1733155586653.jpg);
    background-size: cover;
    /* Faz a imagem cobrir todo o container */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetição */
}
