.h4-title-caseStudies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    max-width: 1200px;
    margin: auto;
    font-family: 'Russo One';
    font-size: 32px;
    color: #FFFFFF;
    line-height: 40px;
}

.h4-description-caseStudies {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    max-width: 1200px;
    font-family: 'Raleway';
    font-size: 16px;
    color: #FFFFFF;
}

.global-CaseStudy {
    gap: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.global-CaseStudy:nth-child(odd) {
    flex-direction: row;
}

.global-CaseStudy:nth-child(even) {
    flex-direction: row-reverse;
}



.container-casestudy {
    border-radius: 8px;
    max-width: 445px;
    max-height: 300px;
    min-width: 225px;
    height: auto;
    overflow: hidden;
}

.container-casestudy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;


}


.container-casestudy:hover img {
    transform: scale(1.1);
}

.h4-CaseStudy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 40px;
    max-width: 445px;

}

/* 🔹 Responsividade */
@media (max-width: 1024px) {

    .global-CaseStudy:nth-child(odd),
    .global-CaseStudy:nth-child(even) {
        display: inline-flex;
        flex-direction: column-reverse;
        /* Em telas menores, coloca os elementos um abaixo do outro */
        align-items: center;
        gap: 16px;
    }
}